* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
  }
  html,
  body {
  background:linear-gradient(to left, #808080, #3fada8);     
  }
  .navbar {
    height: 55px;
    position: fixed;
    width: 100%;
  }
  
  .navbar .nav-item {
    float: right;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #ffffff;
  }
  
  .navbar .username {
    float: left;
    font-weight: bold;
    color: #ffffff;
  }
  .work-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  } 
  .work-details .big-text {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: white;
  }
  .work-details .small-text {
    padding: 1rem 4rem;
    color: white;
  }
  .work-details .link-icon {
    margin: 0 0.4rem;
  }
  .left-blob {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .right-blob {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  #about-section .experience-section {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: #565252;
    margin: 0 1rem;
  }
  
  #about-section .experience-section .count {
    font-size: 4rem;
    color: white;
  }
  
  #about-section .specialisation-section {
    width:50%;
  } 
  
  #about-section .specialisation-section .specialisation-heading {
    color: white;
    font-size: 1.5rem;
  }
  .small{
    color:white;
  }
  .specialisation-cards {
    margin-top: 1rem;
    display: flex;
  }
  
  .specialisation-card {
    background-color: #10ed8b;
    color: #03301c;
    padding: 1rem;
    margin-right: 1rem;
    height: 16rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s ease-in-out all;
  }
  
  .specialisation-card:hover {
    background-color: #03301c;
    color: #10ed8b;
  }
  .specialisation-card .stack-icon {
    width: 48px;
    height: 48px;
  }
  
  .stack-icon {
    transition: 0.2s ease-in-out all;
  
    opacity: 0;
  }
  .specialisation-card:hover .stack-icon {
    opacity: 1;
  }
  
  .specialisation-card .detail {
    font-weight: bold;
    padding: 0.6rem 0;
  }